@charset "UTF-8";

/* コピペ用コード */
/* フォントサイズ */
:root {
  /* 10px */
  --font-10: 0.625rem;
  /* 12px */
  --font-12: 0.75rem;
  /* 13px */
  --font-13: 0.8125rem;
  /* 14px */
  --font-14: 0.875rem;
  /* 16px */
  --font-16: 1rem;
  /* 18px */
  --font-18: 1.125rem;
  /* 20px */
  --font-20: 1.25rem;
  /* 24px */
  --font-24: 1.5rem;
  /* 28px */
  --font-28: 1.75rem;
  /* 32px */
  --font-32: 2rem;
  /* 36px */
  --font-36: 2.25rem;
  /* 2.5px */
  --font-40: 2.25rem;
  /* 72px */
  --font-72: 4.5rem;
  /* 14.4px */
  --text-1: 0.9rem;

  /* 文字カラー */
  --font-black: #000;
  --font-white: #fff;

  /* ラインカラー */
  --line-black: #000;
  --line-white: #fff;

  /* 背景色 */
  --bg-main: #e6e2d7;
  --bg-footer: #f7f7f7;
  --bg-yellow: rgba(249, 233, 6, .6);
  --bg-red: rgba(149, 42, 38, .6);

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 768px) {
} */

/* 共通 */
body {
  color: var(--font-black);
  font-style: normal;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;

  font-optical-sizing: auto;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

ol {
  list-style: none;
}

img {
  height: auto;
}

.txt-center {
  text-align: center;
}


/* セクションタイトル */
/* 背景 */
.ttl__wrapper {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .ttl__wrapper {
    height: 94px;
    margin-bottom: 30px;
  }
}

.sec__ttl {
  color: var(--font-white);
  font-size: var(--font-72);
  font-weight: 700;
  line-height: 1.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .sec__ttl {
    font-size: var(--font-32);
    margin-bottom: 30px;
  }
}


/* サブセクションタイトル */
.sub-sec__ttl {
  display: inline-block;
  color: var(--font-black);
  font-size: var(--font-40);
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  border-bottom: 6px solid #E03131;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .sub-sec__ttl {
    font-size: var(--font-20);
    margin-bottom: 25px;
  }
}

/* コンテンツ幅 */
.sec__inner {
  margin: 0 auto 170px;
  padding: 0 16px;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .sec__inner {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 100%;
    margin-bottom: 0;
  }
}


/* Read Moreリンク */
.link__wrapper {
  display: flex;
  justify-content: center;
}

.more-link {
  display: inline-block;
  position: relative;
  font-size: var(--text-1);
  color: var(--font-black);
  padding: 16.5px 44px;
  width: 160px;
  height: 50px;
}

.more-link::before,
.more-link::after {
  position: absolute;
  width: 20%;
  height: 50%;
  content: '';
}

.more-link::before {
  border-left: solid 2px #E03131;
  border-top: solid 2px #E03131;
  top: 0;
  left: 0;
  transition: width 300ms;
}

.more-link:hover::before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.more-link::after {
  border-right: solid 2px #E03131;
  border-bottom: solid 2px #E03131;
  bottom: 0;
  right: 0;
  transition: width 300ms;
}

.more-link:hover::after {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

/* header */
.header {
  width: 100%;
  height: 100vh;
  background: url(../img/mainvisual.jpg) no-repeat center / cover;
  padding: 20px 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
    margin-bottom: 10px;
  }
}

.header__inner {
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gnav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .gnav {
    padding-top: 20px;
    padding-right: 40px;
  }
}

.gnav__list {
  display: flex;
  gap: 30px;
  font-size: var(--text-1);
  line-height: 1.69;
  font-weight: 700;
  text-transform: uppercase;
}

.gnav__link {
  color: var(--font-white);
  text-shadow: 1px 1px 2px rgba(18, 18, 18, .16);
}

.gnav__link:hover {
  color: #E03131;
  transition: .3s;
}

.header-logo {
  width: 460px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .header-logo {
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    width: 100%;
    height: auto;
  }
}


/* main-visual */
.main-visual {
  position: relative;
  margin-bottom: 20px;
}

.main-visual__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


/* Menu  */
/* 背景 */
.menu__ttl--bg {
  background-image: url("../img/menu.jpg");
}

@media screen and (max-width: 768px) {
  .menu__inner {
    margin-bottom: 115px;
  }
}

.menu-content__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 768px) {
  .menu-content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}

.menu--left,
.menu--right {
  padding: 0 45px;
}

@media screen and (max-width: 768px) {

  .menu--left,
  .menu--right {
    width: 100%;
    padding: 0;
  }
}

.menu--left {
  border-right: 1px solid var(--line-black);
}

@media screen and (max-width: 768px) {
  .menu--left {
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .menu--right {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

.menu__list {
  font-size: var(--text-1);
  line-height: 1.69;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu__name {
  width: 87%;
  border-bottom: 1px dotted var(--line-black);
}

.menu__price {
  width: 13%;
}

.menu__item {
  display: flex;
  justify-content: space-between;
}


/* About  */
/* 背景 */
.about__ttl--bg {
  background-image: url("../img/about.jpg");
}

.about .desc__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {

  .about .desc__wrapper,
  .about .desc__wrapper--left,
  .about .desc__wrapper--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about__inner {
    margin-bottom: 80px;
  }
}

.about .sub-sec__desc {
  font-size: var(--text-1);
  line-height: 2;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .about .sub-sec__desc {
    padding: 0;
  }
}


/* Location  */
/* 背景 */
.location__ttl--bg {
  background-image: url("../img/location.jpg");
}

.location__map {
  margin-bottom: 20px;
}

.location__map iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.location__address {
  font-size: var(--text-1);
  line-height: 1.69;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .location__address {
    margin-bottom: 80px;
  }
}


.footer__copyright {
  display: block;
  text-align: center;
  font-size: var(--font-10);
  margin-bottom: 10px;
}
