@charset 'UTF-8';

/* コピペ用コード */
:root {
  /* フォントサイズ */
  --font-10: .625rem;
  /* 12px */
  --font-12: .75rem;
  /* 12px */
  --font-13: .8125rem;
  /* 13px */
  --font-14: .875rem;
  /* 14px */
  --font-16: 1rem;
  /* 16px */
  --font-18: 1.125rem;
  /* 18px */
  --font-20: 1.25rem;
  /* 20px */
  --font-24: 1.5rem;
  /* 24px */
  --font-28: 1.75rem;
  /* 28px */
  --font-32: 2rem;
  /* 32px */
  --font-36: 2.25rem;
  /* 36px */
  /* 文字カラー */
  --font-black: #333;
  --font-white: #fff;
  /* ラインカラー */
  --line-gray: #777;
  --line-white: #fff;
  /* 背景色 */
  --bg-main: #e6e2d7;
  --bg-footer: #f7f7f7;
  --bg-yellow: rgba(249, 233, 6, .6);
  --bg-red: rgba(149, 42, 38, .6);
  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 768px) {
} */

/* 共通 */
body {
  color: var(--font-black);
  font-style: normal;
  font-family: "Helvetica Neue","Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo",sans-serif;

  font-optical-sizing: auto;
}

a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

ol {
  list-style: none;
}

img {
  height: auto;
}


.hidden {
  display: none;
}

.grid {
  display: grid;
}

/* セクションタイトル */


/* コンテンツ幅 */
.inner {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1000px;
}
@media screen and (max-width: 768px) {
  .inner {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 100%;
  }
}

/* read moreリンク */

/* header */

/* パララックス */
